*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/modules/data-local/build/
/modules/data-local/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/modules/domain-core/build/
/modules/domain-core/build/classes/kotlin/main/