<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- i tuoi uses-permission / uses-feature qui invariati -->

    <application
        android:name=".TitanBiosyncApplication"
        android:allowBackup="false"
        android:label="TitanBiosync"
        android:supportsRtl="true"
        android:theme="@style/Theme.TitanBiosync"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD8MUW48hC5pzgX723yyp6htmPHVvl99js" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TitanBiosync.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>